<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Socket Chat App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <style>
            body {
                
                background-color: black;
                height:100%;
                width:100%;
            }
            h2 {
                margin-top: 30px;
                text-align: center;
                color: whitesmoke;
                text-shadow: 0 2px 4px rgb(24, 204, 204);
                font-family: 'Times New Roman', Times, serif;
            }
            h1 {
                margin-left: 20%; 
                text-shadow: whitesmoke; 
                color: red; 
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            
        </style>
        
    </head>


    <body>
            <div class="container" id="app">
                <div class="col-lg-6 offset-lg-3">
                    <div v-if="ready">
                        <p v-for="item in info">
                            {{item.name}} {{item.type}}
                        </p>
                    </div>

                   <div v-if="!ready"></br>
                        <h1>Set your Name!!</h1></br>
                        <form @submit.prevent="addName">
                            <div class="form-group row">
                                <input type="text" class="form-control col-9" v-model="name" placeholder="Give your name">
                                <input type="submit" value="Add" class="btn btn-sn btn-info ml-1">
                            </div>
                        </form>
                    </div>
                
                    <h2 v-else>{{name}}</h2>
                    <div class="card bg-info" v-if="ready">
                        <div class="card-header text-white">
                            Chat Here... 
                            <span class="float-right">{{connections}} connections</span>
                        </div>
                        <ul class="list-group list-group-flush text-right">
                            <small v-if="typing" class="text-white">{{typing}} is typing...</small>
                            <li class="list-group-item" v-for="message in messages">
                                <span :class="{'float-left':message.type === 1}">
                                    {{message.message}}
                                    <small>:{{message.by}}</small>
                                </span>
                                
                            </li>
                        </ul>

                        <div class="card-body">
                            <form @submit.prevent="send">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="newmessage" placeholder="Type Here">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <script>
            var socket = io();
            let app = new Vue({
                el: '#app',
                data:{
                    newmessage:null,
                    messages: [],
                    typing: false,
                    name: null,
                    ready: false,
                    info: [],
                    coonections: 0
                },
                watch: {
                    newmessage(value){
                        value ? socket.emit('typing', this.name) : socket.emit('stopTyping')
                    }
                },
                methods: {
                    send() {
                        this.messages.push({ message: this.newmessage, type: 0, by:'Me' })
                        socket.emit('chat-message', {message:this.newmessage,user:this.name})
                        this.newmessage = null
                    },
                    addName(){
                        this.ready = true
                        socket.emit('joined',this.name)
                    }
                },
                created() {
                    window.onbeforeunload = () => {
                        socket.emit('left', this.name)
                    }

                    socket.on('connections',(data) => {
                        this.connections = data
                    })

                    socket.emit('Created', 'Neha')
                    socket.on('Created', (data) => {
                        console.log(data)
                    })

                    socket.on('chat-message', (data) => {
                        this.messages.push({ message: data.message, type: 1, by: data.user })
                    })


                    socket.on('typing', (name) => {
                        this.typing = name
                    })

                    socket.on('stopTyping', () => {
                        this.typing = false
                    })
                   
                    socket.on('joined', (data) => {
                        this.info.push({name: data, type: 'Joined' })
                        setTimeout(() => {
                            this.info = []
                        }, 5000);
                    })

                    socket.on('left', (data) => {
                        this.info.push({name: data, type: 'Left' })
                        setTimeout(() => {
                            this.info = []
                        }, 5000);
                    })
                
                }
            })
        </script>
    </body>
</html>