body
{
  background-color: red;
    
}

h4
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    display: block;
    margin-bottom: 40px;
    color: black;
    text-align: center;
    text-shadow: 0 2px 4px whitesmoke;
}